# Abaikan folder virtual environment
venv/

# Abaikan file Python cache
__pycache__/
*.pyc

# Abaikan file dan folder sementara VS Code
.vscode/


# Abaikan semua file gambar di dalam folder static/uploads
/flask-image-app/static/uploads/*.png
/flask-image-app/static/uploads/*.jpg
/flask-image-app/static/uploads/*.jpeg
/flask-image-app/static/uploads/*.gif
/flask-image-app/static/uploads/*.webp
/flask-image-app/static/uploads/*.bmp